{% extends "base.html" %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>出品商品の登録</h3>
</div>
{% endblock header %}


{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">商品名</label>
        {{ form.name }}
    </div>
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">説明</label>
        {{ form.description }}
    </div>
    <div class="form-group">
        <label for="{{ form.price.id_for_label }}">価格</label>
        {{ form.price }}
    </div>
    <div class="form-group">
        <label for="{{ form.image.id_for_label }}">画像</label>
        {{ form.image }}
    </div>
    <div class="form-group">
        <label for="{{ form.end_time.id_for_label }}">終了日時</label>
        {{ form.end_time }}
    </div>
    <button type="submit" class="btn btn-primary">出品する</button>
</form>

{% endblock content %}
