
{% extends "base.html" %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>商品詳細</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>価格: {{ product.price }} 円</p>
      <p>出品者: {{ product.user.username }}</p>
      <p>終了時刻: {{ product.end_time }}</p>
      
      
      <!--時計-->
      <p id="countdown"></p>
      <script>
        function countdown(endTime) {
          var endTime = new Date(endTime); // 終了時刻を設定
          var now = new Date(); // 現在時刻を取得
          var diff = endTime.getTime() - now.getTime(); // 残り時間を計算
          if (diff <= 0) {
            // 残り時間が0以下の場合は、終了メッセージを表示
            document.getElementById("countdown").textContent = "オークションは終了しました。";
            return;
          }
          // 残り時間を時分秒に変換
          var days = Math.floor(diff / (1000 * 60 * 60 * 24));
          var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((diff % (1000 * 60)) / 1000);
          // 残り時間を表示
          var countdown = document.getElementById("countdown");
          countdown.textContent = "残り時間：" + days + "日" + hours + "時間" + minutes + "分" + seconds + "秒";
        }
        // 1秒ごとに残り時間を更新する
        setInterval(function() {countdown('{{ product.end_time|date:"Y-m-d\\TH:i:s" }}')}, 1000);
      </script>
      <!--時計-->
      
      
      
      
    </div>
  </div>
</div>
{% endblock content%}