{% extends "base.html" %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3></h3>
</div>

{% endblock header %}



{% block content %}

{% if user.is_authenticated %}<!--#もしユーザーがログインしているならば-->

  <h1><p>{{ user.username }} 様の落札物</p></h1>
  {% if products %}
  <ul class="list-group">
    {% for product in products %}
    <li class="list-group-item">
      <h2>出品名:{{ product.name }}</h2>
      <div class="row">
        <div class="col-md-6">
          {% if product.image%}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
          {% else %}
          <p>商品画像なし</p>
          {% endif %}
        </div>
        <div class="col-md-6">
          <p>商品説明:{{ product.description }}</p>
          <p>価格: {{ product.price }} 円</p>
          <p>出品者: {{ product.user.username }}</p>
          <p>終了時刻: {{ product.end_time }}</p>
          {% if product.highest_bidder == None %}
            <p>入札者:なし</p>
          {% else %}
            <p>落札者:{{product.highest_bidder}}</p>
          {% endif %}
          <p>入札者一覧:</p>
          <ul>
          {% for buyer in product.buyers.all %}
              <li>{{ buyer.username }}</li>
          {% empty %}
              <li>落札者がいません。</li>
          {% endfor %}
          </ul>
                        <!-- 時計 -->
                        <p id="countdown-{{product.pk}}"></p>
                        <script>
                          function countdown{{product.pk}}(endTime) {
                            var endTime = new Date(endTime); // 終了時刻を設定
                            var now = new Date(); // 現在時刻を取得
                            var diff = endTime.getTime() - now.getTime(); // 残り時間を計算
                            if (diff <= 0) {
                              // 残り時間が0以下の場合は、終了メッセージを表示
                              document.getElementById("countdown-{{product.pk}}").textContent = "オークションは終了しました。";
                              return;
                            }
                            // 残り時間を時分秒に変換
                            var days = Math.floor(diff / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((diff % (1000 * 60)) / 1000);
                            // 残り時間を表示
                            var countdown = document.getElementById("countdown-{{product.pk}}");
                            countdown.textContent = "残り時間：" + days + "日" + hours + "時間" + minutes + "分" + seconds + "秒";
                          }
                          // 1秒ごとに残り時間を更新する
                          setInterval(function() {countdown{{product.pk}}('{{ product.end_time|date:"Y-m-d\\TH:i:s" }}')}, 1000);
                        </script>
                        <!-- 時計 -->
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>落札物はありません</p>
{% endif %}
{% else %}<!--#ユーザーがログインしていないならば-->
    <p>ログインしてください</p>
{% endif %}

{% endblock content%}